# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [10]:
import pandas as pd
import numpy as np

# Seu código aqui
ano = [1900,1920,1940,1960,1980,2000,2020]
pd.Series(data=ano)

anomalia = [-0.08, -0.27, 0.12, -0.03, 0.26,0.40,1.02]
pd.Series(data=anomalia)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [16]:
# seu código aqui
ano = [1900,1920,1940,1960,1980,2000,2020]
anomalia =[-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
anoscomindex = pd.Series(data= anomalia, index= ano)
print(anoscomindex)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [17]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperaturasseries = pd.Series(dic_temperaturas)
temperaturasseries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe.
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [26]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df=pd.DataFrame(arr, columns=['A','B','C'])
print(df)

             A           B           C
0    87.196568   91.201774   91.870714
1    91.182429   92.788309   94.973524
2   104.038814   88.455202  102.122494
3   100.813080   86.866266  115.144374
4    95.830854   93.179070  101.543365
5   107.137926   99.173802  110.031166
6    88.568523   90.470809  102.666308
7    96.040335  105.908742  107.101708
8   101.558499  104.293494   93.628297
9   109.552612  120.082818   79.628484
10  102.994169   83.459978  108.360422
11  117.305432  106.571357  102.303439
12  104.822473  105.866781  101.795779
13   99.396680  103.490864   88.770842
14  112.111189  109.363744   87.578723
15  102.256473  102.512048  107.556947
16   85.660240   86.287802  110.812026
17  111.802440  110.619346   99.058695
18   98.653374   96.882564   95.272822
19   92.955229  103.827444   94.842819

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [35]:
#seu código aqui
df = pd.DataFrame(arr, index=np.arange(1, 21), columns=['x1', 'x2', 'x3'])
print(df)

            x1          x2          x3
1    87.196568   91.201774   91.870714
2    91.182429   92.788309   94.973524
3   104.038814   88.455202  102.122494
4   100.813080   86.866266  115.144374
5    95.830854   93.179070  101.543365
6   107.137926   99.173802  110.031166
7    88.568523   90.470809  102.666308
8    96.040335  105.908742  107.101708
9   101.558499  104.293494   93.628297
10  109.552612  120.082818   79.628484
11  102.994169   83.459978  108.360422
12  117.305432  106.571357  102.303439
13  104.822473  105.866781  101.795779
14   99.396680  103.490864   88.770842
15  112.111189  109.363744   87.578723
16  102.256473  102.512048  107.556947
17   85.660240   86.287802  110.812026
18  111.802440  110.619346   99.058695
19   98.653374   96.882564   95.272822
20   92.955229  103.827444   94.842819

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [38]:
# seu código aqui
df['media'] = df[['x1','x2','x3']].mean(axis=1)
print(df)

            x1          x2          x3       media
1    87.196568   91.201774   91.870714   90.089685
2    91.182429   92.788309   94.973524   92.981421
3   104.038814   88.455202  102.122494   98.205504
4   100.813080   86.866266  115.144374  100.941240
5    95.830854   93.179070  101.543365   96.851096
6   107.137926   99.173802  110.031166  105.447631
7    88.568523   90.470809  102.666308   93.901880
8    96.040335  105.908742  107.101708  103.016928
9   101.558499  104.293494   93.628297   99.826763
10  109.552612  120.082818   79.628484  103.087971
11  102.994169   83.459978  108.360422   98.271523
12  117.305432  106.571357  102.303439  108.726743
13  104.822473  105.866781  101.795779  104.161678
14   99.396680  103.490864   88.770842   97.219462
15  112.111189  109.363744   87.578723  103.017885
16  102.256473  102.512048  107.556947  104.108489
17   85.660240   86.287802  110.812026   94.253356
18  111.802440  110.619346   99.058695  107.160160
19   98.653374   96.882564   95.272822   96.936254
20   92.955229  103.827444   94.842819   97.208497

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [39]:
# seu código aqui
df['log_med'] = np.log(df['media'])
print (df)

            x1          x2          x3       media   log_med
1    87.196568   91.201774   91.870714   90.089685  4.500806
2    91.182429   92.788309   94.973524   92.981421  4.532400
3   104.038814   88.455202  102.122494   98.205504  4.587062
4   100.813080   86.866266  115.144374  100.941240  4.614539
5    95.830854   93.179070  101.543365   96.851096  4.573175
6   107.137926   99.173802  110.031166  105.447631  4.658214
7    88.568523   90.470809  102.666308   93.901880  4.542250
8    96.040335  105.908742  107.101708  103.016928  4.634893
9   101.558499  104.293494   93.628297   99.826763  4.603436
10  109.552612  120.082818   79.628484  103.087971  4.635583
11  102.994169   83.459978  108.360422   98.271523  4.587734
12  117.305432  106.571357  102.303439  108.726743  4.688838
13  104.822473  105.866781  101.795779  104.161678  4.645944
14   99.396680  103.490864   88.770842   97.219462  4.576971
15  112.111189  109.363744   87.578723  103.017885  4.634903
16  102.256473  102.512048  107.556947  104.108489  4.645434
17   85.660240   86.287802  110.812026   94.253356  4.545986
18  111.802440  110.619346   99.058695  107.160160  4.674325
19   98.653374   96.882564   95.272822   96.936254  4.574054
20   92.955229  103.827444   94.842819   97.208497  4.576858